body {
  background-color: rgba(220, 188, 107, 0.437);
}

h1 {
  color: rgb(143, 25, 25);
}

ul {
  list-style-type: none;
}

a {
  color:rgb(143, 25, 25);
  text-decoration: none;
  font-weight: bolder;
  font-size: 30px;
}

section {
  text-align: left;
}

#homepage {
  text-align: center;
}

.back {
  font-size: 22px;
}